body{
    font-family:'Courier New', Courier, monospace
}

#container{
    margin: 0 auto;
    width: 70%;
}

table{
    width: 100%;
}

h1{
    text-align: center;
}

#esquerda{
    width: 20%;
}

#direita{
    width: 80%;
}

.inputPadrao, textarea, select{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: .5rem;
}

select{
    width: 100%;
}

.inputPadrao, textarea{
    width: 93%;
}

#btn-salvar, #btn-voltar{
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: .25rem;
}

#btn-salvar{
    background-color: darkgreen;
}

#btn-voltar{
    background-color: darkred;
}

.btnListaCelulares{
    text-align: center;
    padding-top: 50px;
}

.tabela {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
}

.tabela tr:hover {
    background-color: #f1f1f1;
}
